<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
	<!--internalLogFile="nlog.txt" internalLogLevel="Debug"-->
	<targets>
		<!-- add your targets here -->
		<!--文本日志-->
		<!--<target name="file" xsi:type="File" fileName="${basedir}/logs/${level}/${shortdate}.log" layout="${longdate} ${callsite} ${level}: ${message} ${event-context:item=exception} ${stacktrace}" />-->
		<!--异常日志-->
		<target xsi:type="Database" name="ExceptionLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
			<connectionString>${var:connectionString}</connectionString>
			<install-command ignoreFailures="true">
				<text>
					CREATE TABLE IF NOT EXISTS `log_exception_${date:format=yyyyMM}` (
					`Id` varchar(36) NOT NULL COMMENT '主键ID',
					`Message` varchar(2048) DEFAULT NULL COMMENT '异常消息',
					`StackTrace` longtext COMMENT '堆栈信息',
					`InnerException` varchar(2048) DEFAULT NULL COMMENT '内部信息',
					`ExceptionType` varchar(512) DEFAULT NULL COMMENT '异常类型',
					`ServerHost` varchar(128) DEFAULT NULL COMMENT '服务器主机地址',
					`ClientHost` varchar(128) DEFAULT NULL COMMENT '客户端主机地址',
					`Runtime` varchar(16) DEFAULT NULL COMMENT '运行环境',
					`RequestUrl` varchar(2048) DEFAULT NULL COMMENT '请求地址',
					`RequestBody` longtext COMMENT '请求Body',
					`Method` varchar(16) DEFAULT NULL COMMENT '请求方式：GET/POST/PUT/DELETE',
					`UserAgent` varchar(2048) DEFAULT NULL COMMENT '浏览器代理',
					`CreateId` varchar(36) DEFAULT NULL COMMENT '创建人Id',
					`CreateTime` datetime DEFAULT NULL COMMENT '创建时间',
					PRIMARY KEY (`Id`) USING BTREE
					) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC COMMENT='系统异常日志表';
				</text>
			</install-command>
			<commandText>
				INSERT INTO `log_exception_${date:format=yyyyMM}`
				(Id,Message,StackTrace,InnerException,ExceptionType,ServerHost,ClientHost,Runtime,RequestUrl,RequestBody,Method,UserAgent,CreateId,CreateTime)
				VALUES
				(@Id,@Message,@StackTrace,@InnerException,@ExceptionType,@ServerHost,@ClientHost,@Runtime,@RequestUrl,@RequestBody,@Method,@UserAgent,@CreateId,@CreateTime)
			</commandText>
			<parameter name="@Id" layout="${event-context:item=Id}"/>
			<parameter name="@Message" layout="${event-context:item=Message}"/>
			<parameter name="@StackTrace" layout="${event-context:item=StackTrace}"/>
			<parameter name="@InnerException" layout="${event-context:item=InnerException}"/>
			<parameter name="@ExceptionType" layout="${event-context:item=ExceptionType}"/>
			<parameter name="@ServerHost" layout="${event-context:item=ServerHost}"/>
			<parameter name="@ClientHost" layout="${event-context:item=ClientHost}"/>
			<parameter name="@Runtime" layout="${event-context:item=Runtime}"/>
			<parameter name="@RequestUrl" layout="${event-context:item=RequestUrl}"/>
			<parameter name="@RequestBody" layout="${event-context:item=RequestBody}"/>
			<parameter name="@Method" layout="${event-context:item=Method}"/>
			<parameter name="@UserAgent" layout="${event-context:item=UserAgent}"/>
			<parameter name="@CreateId" layout="${event-context:item=CreateId}"/>
			<parameter name="@CreateTime" layout="${event-context:item=CreateTime}"/>
		</target>
		<!--操作日志-->
		<target xsi:type="Database" name="OperateLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
			<connectionString>${var:connectionString}</connectionString>
			<install-command ignoreFailures="true">
				<text>
					CREATE TABLE IF NOT EXISTS `log_operation_${date:format=yyyyMM}` (
					`Id` varchar(36) NOT NULL COMMENT '主键Id',
					`ClientHost` varchar(128) DEFAULT NULL COMMENT '客户端IP',
					`ServerHost` varchar(128) DEFAULT NULL COMMENT '服务端IP',
					`ContentLength` bigint(20) DEFAULT NULL COMMENT '请求内容字节长度',
					`Method` varchar(16) DEFAULT NULL COMMENT '请求方式：GET/POST/PUT/DELETE',
					`RequestUrl` varchar(1024) DEFAULT NULL COMMENT '当前链接',
					`UrlReferrer` varchar(1024) DEFAULT NULL COMMENT '上次请求链接',
					`RequestBody` varchar(2048) DEFAULT NULL COMMENT '请求数据',
					`UserAgent` varchar(2048) DEFAULT NULL COMMENT '浏览器代理信息',
					`Controller` varchar(128) DEFAULT NULL COMMENT '控制器名称',
					`Action` varchar(128) DEFAULT NULL COMMENT 'Action名称',
					`Description` varchar(512) DEFAULT NULL COMMENT '描述说明',
					`ActionExecutionTime` decimal(18,7) DEFAULT NULL COMMENT 'Action执行时间（秒）',
					`ResultExecutionTime` decimal(18,7) DEFAULT NULL COMMENT '页面展示时间（秒）',
					`StatusCode` int(11) DEFAULT NULL COMMENT '响应状态码',
					`CreateId` varchar(36) DEFAULT NULL COMMENT '创建人员id',
					`CreateTime` datetime DEFAULT NULL COMMENT '创建日期',
					PRIMARY KEY (`Id`) USING BTREE
					) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC COMMENT='系统操作日志表';
				</text>
			</install-command>
			<commandText>
				INSERT INTO `log_operation_${date:format=yyyyMM}`
				(Id,ServerHost,ClientHost,ContentLength,Method,RequestUrl,UrlReferrer,RequestBody,UserAgent,Controller,Action,Description,ActionExecutionTime,ResultExecutionTime,StatusCode,CreateId,CreateTime)
				VALUES
				(@Id,@ServerHost,@ClientHost,@ContentLength,@Method,@RequestUrl,@UrlReferrer,@RequestBody,@UserAgent,@Controller,@Action,@Description,@ActionExecutionTime,@ResultExecutionTime,@StatusCode,@CreateId,@CreateTime)
			</commandText>
			<parameter name="@Id" layout="${event-context:item=Id}"/>
			<parameter name="@ServerHost" layout="${event-context:item=ServerHost}"/>
			<parameter name="@ClientHost" layout="${event-context:item=ClientHost}"/>
			<parameter name="@ContentLength" layout="${event-context:item=ContentLength}"/>
			<parameter name="@Method" layout="${event-context:item=Method}"/>
			<parameter name="@RequestUrl" layout="${event-context:item=RequestUrl}"/>
			<parameter name="@UrlReferrer" layout="${event-context:item=UrlReferrer}"/>
			<parameter name="@RequestBody" layout="${event-context:item=RequestBody}"/>
			<parameter name="@UserAgent" layout="${event-context:item=UserAgent}"/>
			<parameter name="@Controller" layout="${event-context:item=Controller}"/>
			<parameter name="@Action" layout="${event-context:item=Action}"/>
			<parameter name="@Description" layout="${event-context:item=Description}"/>
			<parameter name="@ActionExecutionTime" layout="${event-context:item=ActionExecutionTime}"/>
			<parameter name="@ResultExecutionTime" layout="${event-context:item=ResultExecutionTime}"/>
			<parameter name="@StatusCode" layout="${event-context:item=StatusCode}"/>
			<parameter name="@CreateId" layout="${event-context:item=CreateId}"/>
			<parameter name="@CreateTime" layout="${event-context:item=CreateTime}"/>
		</target>
		<!--SQL日志-->
		<target xsi:type="Database" name="SqlLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
			<connectionString>${var:connectionString}</connectionString>
			<install-command ignoreFailures="true">
				<text>
					CREATE TABLE IF NOT EXISTS `log_sql_${date:format=yyyyMM}` (
					`Id` varchar(36) NOT NULL COMMENT '主键ID',
					`CommandText` longtext COMMENT 'SQL命令',
					`ElapsedTime` decimal(18,7) DEFAULT NULL COMMENT '耗时(s)',
					`IsFail` tinyint(1) DEFAULT NULL COMMENT '是否执行失败',
					`Massage` varchar(2048) DEFAULT NULL COMMENT '错误消息',
					`CreateId` varchar(36) DEFAULT NULL COMMENT '创建人员账户ID',
					`CreateTime` datetime DEFAULT NULL COMMENT '创建日期',
					PRIMARY KEY (`Id`) USING BTREE
					) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC COMMENT='系统SQL执行日志表';
				</text>
			</install-command>
			<commandText>
				INSERT INTO `log_sql_${date:format=yyyyMM}`
				(Id,CommandText,ElapsedTime,IsFail,Massage,CreateId,CreateTime)
				VALUES
				(@Id,@CommandText,@ElapsedTime,@IsFail,@Massage,@CreateId,@CreateTime)
			</commandText>
			<parameter name="@Id" layout="${event-context:item=Id}"/>
			<parameter name="@CommandText" layout="${event-context:item=CommandText}"/>
			<parameter name="@ElapsedTime" layout="${event-context:item=ElapsedTime}"/>
			<parameter name="@IsFail" layout="${event-context:item=IsFail}"/>
			<parameter name="@Massage" layout="${event-context:item=Massage}"/>
			<parameter name="@CreateId" layout="${event-context:item=CreateId}"/>
			<parameter name="@CreateTime" layout="${event-context:item=CreateTime}"/>
		</target>
		<!--登录日志-->
		<target xsi:type="Database" name="LoginLogDB" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data">
			<connectionString>${var:connectionString}</connectionString>
			<install-command ignoreFailures="true">
				<text>
					CREATE TABLE IF NOT EXISTS `log_login_${date:format=yyyyMM}` (
					`Id` varchar(36) NOT NULL COMMENT '主键ID',
					`IpAddressName` varchar(128) DEFAULT NULL COMMENT 'IP对应地址',
					`ServerHost` varchar(128) DEFAULT NULL COMMENT '服务器主机地址',
					`ClientHost` varchar(128) DEFAULT NULL COMMENT '客户端主机地址',
					`UserAgent` varchar(2048) DEFAULT NULL COMMENT '浏览器信息',
					`OsVersion` varchar(64) DEFAULT NULL COMMENT '操作系统',
					`LoginToken` varchar(4096) DEFAULT NULL COMMENT '登录token',
					`LoginExpiresTime` datetime DEFAULT NULL,
					`CreateId` varchar(36) DEFAULT NULL COMMENT '创建人用户ID',
					`CreateTime` datetime DEFAULT NULL COMMENT '创建日期',
					PRIMARY KEY (`Id`) USING BTREE
					) ENGINE=InnoDB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC COMMENT='系统登录日志表';
				</text>
			</install-command>
			<commandText>
				INSERT INTO `log_login_${date:format=yyyyMM}`
				(Id,IpAddressName,ServerHost,ClientHost,UserAgent,OsVersion,LoginToken,LoginExpiresTime,CreateId,CreateTime)
				VALUES
				(@Id,@IpAddressName,@ServerHost,@ClientHost,@UserAgent,@OsVersion,@LoginToken,@LoginExpiresTime,@CreateId,@CreateTime)
			</commandText>
			<parameter name="@Id" layout="${event-context:item=Id}"/>
			<parameter name="@IpAddressName" layout="${event-context:item=IpAddressName}"/>
			<parameter name="@ServerHost" layout="${event-context:item=ServerHost}"/>
			<parameter name="@ClientHost" layout="${event-context:item=ClientHost}"/>
			<parameter name="@UserAgent" layout="${event-context:item=UserAgent}"/>
			<parameter name="@OsVersion" layout="${event-context:item=OsVersion}"/>
			<parameter name="@LoginToken" layout="${event-context:item=LoginToken}"/>
			<parameter name="@LoginExpiresTime" layout="${event-context:item=LoginExpiresTime}"/>
			<parameter name="@CreateId" layout="${event-context:item=CreateId}"/>
			<parameter name="@CreateTime" layout="${event-context:item=CreateTime}"/>
		</target>
	</targets>

	<rules>
		<!-- add your logging rules here -->
		<!--文本日志-->
		<!--<logger name="FileLog"  minlevel="Trace"  writeTo="file"/>-->
		<!--异常日志-->
		<logger name="ExceptionLog" minlevel="Debug" appendTo="ExceptionLogDB"/>
		<!--操作日志-->
		<logger name="OperateLog" minlevel="Debug" appendTo="OperateLogDB"/>
		<!--SQL日志-->
		<logger name="SqlLog" minlevel="Debug" appendTo="SqlLogDB"/>
		<!--登录日志-->
		<logger name="LoginLog" minlevel="Debug" appendTo="LoginLogDB"/>
		<!--<logger name="*" minlevel="Trace" writeTo="f" />-->
	</rules>
</nlog>